integrations/n8n/patches/patch-alertas-por-responsavel.json
{
  "meta": {
    "instanceId": "33738330930e3881dd5571eca013f36ddf8aab20e4ea5c1f2ebaf4a2b4668ac6"
  },
  "nodes": [
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SET search_path TO \"case\", public;\nSELECT\n  i.id,\n  i.mentorado_id,\n  m.nome AS mentorado_nome,\n  m.responsavel,\n  i.sender_name,\n  LEFT(i.conteudo, 300) AS conteudo,\n  i.timestamp,\n  i.tipo_interacao,\n  i.urgencia_resposta,\n  i.prioridade,\n  i.message_id,\n  i.chat_id,\n  ROUND(EXTRACT(EPOCH FROM (NOW() - i.timestamp)) / 60, 0)::int AS minutos_pendente,\n  CASE\n    WHEN EXTRACT(EPOCH FROM (NOW() - i.timestamp)) / 3600 >= 24 THEN 5\n    WHEN EXTRACT(EPOCH FROM (NOW() - i.timestamp)) / 3600 >= 12 THEN 4\n    WHEN EXTRACT(EPOCH FROM (NOW() - i.timestamp)) / 3600 >= 8  THEN 3\n    WHEN EXTRACT(EPOCH FROM (NOW() - i.timestamp)) / 3600 >= 4  THEN 2\n    ELSE 1\n  END AS tier\nFROM public.interacoes_mentoria i\nJOIN \"case\".mentorados m ON m.id = i.mentorado_id\nWHERE i.requer_resposta = true\n  AND (i.respondido = false OR i.respondido IS NULL)\n  AND i.eh_equipe = false\n  AND i.timestamp > NOW() - INTERVAL '48 hours'\n  AND i.timestamp < NOW() - INTERVAL '2 hours'\n  AND m.ativo = true\n  AND m.nome NOT ILIKE '%teste%'\n  AND m.telefone NOT LIKE 'PENDENTE%'\n  AND m.telefone NOT LIKE '0000%'\n  AND NOT EXISTS (\n    SELECT 1 FROM public.interacoes_mentoria resp\n    WHERE resp.chat_id = i.chat_id\n      AND resp.eh_equipe = true\n      AND resp.timestamp > i.timestamp\n      AND resp.timestamp < i.timestamp + INTERVAL '3 hours'\n  )\nORDER BY tier DESC, i.timestamp ASC;",
        "options": {}
      },
      "id": "ar-0001-0000-0000-000000000001",
      "name": "Buscar Pendentes no BD",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [-400, 1392],
      "credentials": {
        "postgres": {
          "id": "vVXQE04tisGHZsFJ",
          "name": "Postgres | case"
        }
      },
      "notes": "SUBSTITUI 'Buscar Pendentes no BD1'. Agora inclui m.responsavel no SELECT para filtrar por carteira."
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "ar-cond-1",
              "leftValue": "={{ $json.id }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "isNotEmpty"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "ar-0002-0000-0000-000000000002",
      "name": "Tem Pendentes?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [-160, 1392]
    },
    {
      "parameters": {
        "jsCode": "// Separa pendentes por responsável (Heitor vs Lara)\nconst items = $input.all().map(i => i.json);\nif (!items || items.length === 0) return [];\n\nconst heitor = items.filter(i => i.responsavel === 'Heitor');\nconst lara = items.filter(i => i.responsavel === 'Lara');\nconst outros = items.filter(i => !i.responsavel || (i.responsavel !== 'Heitor' && i.responsavel !== 'Lara'));\n\nfunction formatarAlerta(msgs, titulo) {\n  if (msgs.length === 0) return null;\n  const agora = new Date().toLocaleString('pt-BR', { timeZone: 'America/Sao_Paulo' });\n  const porMentorado = {};\n  for (const m of msgs) {\n    if (!porMentorado[m.mentorado_nome]) porMentorado[m.mentorado_nome] = [];\n    porMentorado[m.mentorado_nome].push(m);\n  }\n  const linhas = [\n    `📋 *${titulo}*`,\n    `_${agora}_`,\n    ``,\n    `📊 *${msgs.length} msg | ${Object.keys(porMentorado).length} mentorado(s)*`,\n  ];\n  const criticos = msgs.filter(i => i.tier === 5).length;\n  const urgentes = msgs.filter(i => i.tier === 4).length;\n  const atencao = msgs.filter(i => i.tier === 3).length;\n  if (criticos > 0) linhas.push(`🚨 Crítico (>24h): ${criticos}`);\n  if (urgentes > 0) linhas.push(`🔴 Urgente (>12h): ${urgentes}`);\n  if (atencao > 0) linhas.push(`⚠️ Atenção (>8h): ${atencao}`);\n  linhas.push(``, `${'─'.repeat(28)}`);\n  for (const [nome, ms] of Object.entries(porMentorado)) {\n    linhas.push(``, `*${nome}* — ${ms.length} pendente(s)`);\n    for (const msg of ms.slice(0, 3)) {\n      const mins = msg.minutos_pendente || 0;\n      const tempo = mins >= 60 ? `${Math.floor(mins/60)}h${mins%60>0?mins%60+'min':''}` : `${mins}min`;\n      const preview = (msg.conteudo || '').substring(0, 100);\n      linhas.push(`  💬 [${tempo}] ${msg.sender_name}: _${preview}_`);\n    }\n    if (ms.length > 3) linhas.push(`  _...e mais ${ms.length - 3}_`);\n  }\n  linhas.push(``, `_Responda o quanto antes._`);\n  return linhas.join('\\n');\n}\n\nconst result = [];\nconst msgHeitor = formatarAlerta(heitor, 'PENDENTES — SUA CARTEIRA');\nconst msgLara = formatarAlerta(lara, 'PENDENTES — SUA CARTEIRA');\nconst msgQueila = formatarAlerta(items, 'MENSAGENS SEM RESPOSTA');\n\nresult.push({ json: {\n  msg_heitor: msgHeitor,\n  msg_lara: msgLara,\n  msg_queila: msgQueila,\n  total_heitor: heitor.length,\n  total_lara: lara.length,\n  total_geral: items.length\n}});\n\nreturn result;"
      },
      "id": "ar-0003-0000-0000-000000000003",
      "name": "Separar por Responsável",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [80, 1392],
      "notes": "Separa pendências por carteira (Heitor/Lara) e formata mensagens individuais + geral pra Queila."
    },
    {
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": true, "leftValue": "", "typeValidation": "strict", "version": 2 },
          "conditions": [
            { "id": "h-cond", "leftValue": "={{ $json.total_heitor }}", "rightValue": 0, "operator": { "type": "number", "operation": "gt" } }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "ar-0004-0000-0000-000000000004",
      "name": "Heitor Tem?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [320, 1200]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://evolution.manager01.feynmanproject.com/message/sendText/producao002",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "apikey", "value": "E4F50E10-F3A6-4421-92F9-D486C2597C71" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"number\": \"5527999473185\",\n  \"text\": {{ JSON.stringify($json.msg_heitor) }}\n}",
        "options": { "response": { "response": { "neverError": true } } }
      },
      "id": "ar-0005-0000-0000-000000000005",
      "name": "📱 Enviar Heitor",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [560, 1200],
      "notes": "Heitor recebe SÓ pendências da SUA carteira."
    },
    {
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": true, "leftValue": "", "typeValidation": "strict", "version": 2 },
          "conditions": [
            { "id": "l-cond", "leftValue": "={{ $json.total_lara }}", "rightValue": 0, "operator": { "type": "number", "operation": "gt" } }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "ar-0006-0000-0000-000000000006",
      "name": "Lara Tem?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [320, 1392]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://evolution.manager01.feynmanproject.com/message/sendText/producao002",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "apikey", "value": "E4F50E10-F3A6-4421-92F9-D486C2597C71" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"number\": \"5524992514909\",\n  \"text\": {{ JSON.stringify($json.msg_lara) }}\n}",
        "options": { "response": { "response": { "neverError": true } } }
      },
      "id": "ar-0007-0000-0000-000000000007",
      "name": "📱 Enviar Lara",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [560, 1392],
      "notes": "Lara recebe SÓ pendências da SUA carteira."
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://evolution.manager01.feynmanproject.com/message/sendText/producao002",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "apikey", "value": "E4F50E10-F3A6-4421-92F9-D486C2597C71" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"number\": \"5527988918032\",\n  \"text\": {{ JSON.stringify($json.msg_queila) }}\n}",
        "options": { "response": { "response": { "neverError": true } } }
      },
      "id": "ar-0008-0000-0000-000000000008",
      "name": "📱 Enviar Queila",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [320, 1584],
      "notes": "Queila recebe TODAS as pendências (visão geral da mentora)."
    }
  ],
  "connections": {
    "Buscar Pendentes no BD": {
      "main": [
        [
          { "node": "Tem Pendentes?", "type": "main", "index": 0 }
        ]
      ]
    },
    "Tem Pendentes?": {
      "main": [
        [
          { "node": "Separar por Responsável", "type": "main", "index": 0 }
        ]
      ]
    },
    "Separar por Responsável": {
      "main": [
        [
          { "node": "Heitor Tem?", "type": "main", "index": 0 },
          { "node": "Lara Tem?", "type": "main", "index": 0 },
          { "node": "📱 Enviar Queila", "type": "main", "index": 0 }
        ]
      ]
    },
    "Heitor Tem?": {
      "main": [
        [
          { "node": "📱 Enviar Heitor", "type": "main", "index": 0 }
        ]
      ]
    },
    "Lara Tem?": {
      "main": [
        [
          { "node": "📱 Enviar Lara", "type": "main", "index": 0 }
        ]
      ]
    }
  }
}
